header {
  width: 100%;
  height: 100vh;
}

.header__background {
  background-image: url("../../assets/1.png");
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.header__nav {
  display: flex;
  overflow: hidden;
}

.header__logo {
  flex: 1;
  display: flex;
  position: relative;
  padding: 20px;
}

.header__logo h4 {
  padding-left: 30px;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  font-family: var(--playfair-display);
  color: #fff;
  opacity: 0.8;
}

.header__menu, .header__menu-mobile {
  padding: 20px;
  flex: 1.236;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 50px;

  list-style: none;
}

.header__menu li {
  font-weight: 500;
  font-family: var(--plus-jakarta-sans);
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
  cursor: pointer;
}

.header__menu li img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.header__menu-mobile {
  display: none;
  gap: 20px;
  position: relative;
}

.header__main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  flex: 1;
  align-items: center;
}

.header__main h4 {
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;
  font-family: var(--playfair-display);
  color: #fff;
  margin-top: -60px;
}

.header__main p {
  font-weight: 400;
  font-size: 23px;
  color: #fff;
  margin-top: -40px;
}

.header__button {
  margin-top: -40px;
  background-color: #ffedce;
  border-radius: 30px;
  min-width: 15%;
  min-height: 10%;
  border: none;
  font-size: 27px;
  cursor: pointer;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .7);
  padding: 3px;
}

.header__button:hover {
  opacity: 0.8;
}
