.impressum__txt {
  padding: 0 15%;
  hyphens: auto;
  font-family: Inter;
}

.impressum__title {
  padding: 2% 5% 2%;
  text-align: center;
  hyphens: auto;
}

.impressum__link_to_eng {
  padding: 2% 5% 2%;
  text-align: center;
  text-decoration: underline;
}

.impressum__ch {
  padding: 3% 15% 1%;
  hyphens: auto;
}

.impressum__sec {
  padding: 2% 15% 1%;
  hyphens: auto;
}

/* Mobile */
@media (max-width: 768px) {
  .impressum__txt {
    padding: 0 5%;
  }
  .impressum__ch {
    padding: 3% 5% 1%;
    hyphens: auto;
  }
  .impressum__sec {
    padding: 2% 5% 1%;
    hyphens: auto;
  }
}
