.privacy-policy__title {
    font-weight: 700;
    color: white;
    padding: 20px;
    text-align: center;
    background-color: aqua;
}
.privacy-policy__intro {
    color: white;
    padding: 30px;
}