.privacy-policy__title {
    font-weight: 700;
    padding: 2% 5%;
    text-align: center;
    word-wrap: break-word;
}
.privacy-policy__intro {
    padding: 2% 15%;
}

.privacy-policy__txt {
    padding: 0 15%;
}

.privacy-policy__ch {
    padding: 3% 15% 0;
}

.privacy-policy__sec {
    padding: 2% 15% 1%;
}

li {
    padding: 0 15% 0 17%;
}