.the-apps__container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

.the-apps__container h4 {
    align-self: center;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 80px;
    margin-bottom: 80px;
}

.the-apps__description-container {
    display: flex;
    overflow: hidden;
    min-height: 500px;
    width: 100%;
    align-self: center;
    background-color: darkslategrey;
    justify-content: space-between;
}

.the-apps__description-container img {
    width: 20%;
    height: auto;
    align-self: center;
    background-color: aqua;

}

.the-apps__description-container p {
    font-weight: 200;
    font-size: 20px;
    color: #fff;
    width: 70%;
    background-color: darksalmon;
}